* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(244, 244, 249);
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(51, 51, 51);
    font-size: 36px;
}

.user-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.25rem;
    padding: 1.25rem;
}

.user-card {
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    transition: transform 0.3s ease;
    cursor: pointer;
    border: 0.125rem solid transparent;
}

.user-card:hover {
    transform: scale(1.05);
}

.user-card h3 {
    margin-bottom: 0.625rem;
    color: rgb(51, 51, 51);
    font-size: 1.5rem;
}

.user-card p {
    margin-bottom: 0.5rem;
    color: rgb(102, 102, 102);
}

.user-card.active {
    border-color: rgb(76, 175, 80);
}

.user-card.inactive {
    border-color: rgb(244, 67, 54);
}

.user-card .status {
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 0.3125rem 0.625rem;
    border-radius: 0.75rem;
    background-color: rgb(76, 175, 80);
}

.user-card.inactive .status {
    background-color: rgb(244, 67, 54);
}


.users-header {
    margin: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    margin: 1.25rem;
}